@{
    ViewBag.Title = "AddGoods";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="mdui-shadow-3">
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
    <div class="mdui-divider"></div>
    <div class="mdui-row-xs-2">
        <div class="mdui-col mdui-text-center">
            <span class="mdui-text-color-theme-accent">wqdqd </span>
        </div>
        <div class="mdui-col">a栋adsa</div>
    </div>
</div>



