
@{
    ViewBag.Title = "UserShopCart";
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div class="mdui-row">
    <div class="mdui-text-right mdui-m-b-2">
        <button id="shopCartAdd" class="mdui-btn mdui-btn-icon mdui-m-r-1" style="padding: 25px;" mdui-tooltip="{content: '添加'}"><i class="mdui-icon material-icons">add</i></button>
        <button id="shopCartEdit" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '编辑'}"><i class="mdui-icon material-icons">update</i></button>
        <button id="shopCartDelete" class="mdui-btn mdui-btn-icon" style="padding: 25px;" mdui-tooltip="{content: '删除'}"><i class="mdui-icon material-icons">delete</i></button>
    </div>

    <div class="mdui-table-fluid mdui-hoverable mdui-table-hoverable">
        <table class="mdui-table mdui-table-selectable ">
            <thead>
                <tr>
                    <th>用户</th>
                    <th>购物车编号</th>                   
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>



