
@{
    ViewBag.Title = "UserDetail";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

@*标签*@
<div class="mdui-row mdui-center mdui-p-t-5">
    <div class="mdui-col-xs-1 mdui-img-rounded mdui-color-theme mdui-p-t-1 mdui-p-b-1 mdui-text-center">
        <strong>信息</strong>
    </div>
</div>
<div class="mdui-row"><div class="mdui-divider-inset"></div></div>
<div class="mdui-row mdui-valign mdui-p-t-3">
    <div class="mdui-col-xs-5">
        <img class="mdui-center" src="~/Content/IMG/53256043.jpg" style="height: 150px; width: 150px;" />
    </div>
    <div class="mdui-col-xs-7 mdui-typo">
        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center ">编号：</div>
            <div class="mdui-col-xs-6 mdui-text-center">1556115</div>
        </div>
        <div class="mdui-divider"></div>

        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center">名字：</div>
            <div class="mdui-col-xs-6 mdui-text-center">1454156161</div>
        </div>
        <div class="mdui-divider"></div>

        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center ">邮箱：</div>
            <div class="mdui-col-xs-6 mdui-text-center">ads1541ads</div>
        </div>
        <div class="mdui-divider"></div>

        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center ">电话：</div>
            <div class="mdui-col-xs-6 mdui-text-center">男</div>
        </div>
        <div class="mdui-divider"></div>

        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center ">性别：</div>
            <div class="mdui-col-xs-6 mdui-text-center">男</div>
        </div>
        <div class="mdui-divider"></div>


        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center ">状态：</div>
            <div class="mdui-col-xs-6 mdui-text-center">男</div>
        </div>
        <div class="mdui-divider"></div>


        <div class="mdui-row mdui-p-t-1  mdui-p-b-1">
            <div class="mdui-col-xs-5 mdui-text-center">注册时间：</div>
            <div class="mdui-col-xs-6 mdui-text-center">男</div>
        </div>
        <div class="mdui-divider"></div>
    </div>
</div>



<div class="mdui-row mdui-center mdui-p-t-3">
    <div class="mdui-col-xs-1 mdui-img-rounded mdui-color-theme mdui-p-t-1 mdui-p-b-1 mdui-text-center">
        <strong>评论</strong>
    </div>
</div>
<div class="mdui-row"><div class="mdui-divider-inset"></div></div>

<div class="mdui-row mdui-p-t-3">
    <div class="mdui-table-fluid  mdui-table-hoverable">
        <table class="mdui-table mdui-table-selectable">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>评论内容</th>
                    <th>评论时间</th>
                    <th>状态</th>
                </tr>
            </thead>
            <tbody>
                @{

                }
            </tbody>
        </table>
    </div>
</div>


<div class="mdui-row mdui-center mdui-p-t-3">
    <div class="mdui-col-xs-1 mdui-img-rounded mdui-color-theme mdui-p-t-1 mdui-p-b-1 mdui-text-center">
        <strong>购物车</strong>
    </div>
</div>
<div class="mdui-row"><div class="mdui-divider-inset"></div></div>

<div class="mdui-row mdui-p-t-3">
    <div class="mdui-table-fluid  mdui-table-hoverable">
        <table class="mdui-table mdui-table-selectable">
            <thead>
                <tr>
                    <th>商品名称</th>
                    <th>商品数量</th>
                    <th>添加时间</th>
                </tr>
            </thead>
            <tbody>
                @{

                }
            </tbody>
        </table>
    </div>
</div>