
@{
    ViewBag.Title = "TodaySalesChart";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="mdui-row mdui-m-t-5">
    <div class="mdui-col">
        @*<div id="todaySalesChart"></div>*@
    </div>
</div>


